<nav class="bg-white border-gray-800">
  <div class="mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center h-16">
    <div class="border-2 border-gray-800 rounded-lg px-2 py-1">
      <span class="font-bold text-2xl text-gray-800">ZA</span>
    </div>
    <div class="hidden sm:flex items-center space-x-20 mr-">
      <a
        routerLink="/resume"
        class="text-black fw-200 p-1 hover:border-2 hover:border-gray-800 hover:rounded-lg font-semibold ml-4"
        >Resume</a
      >
      <a
        routerLink="/projects"
        class="text-black fw-200 p-1 hover:border-2 hover:border-gray-800 hover:rounded-lg font-semibold ml-4"

        >Projects</a
      >
      <a
      href="https://github.com/zohaib-a-ahmed"
      target="_blank"
      class="text-black fw-200 p-1 hover:border-2 hover:border-gray-800 hover:rounded-lg font-semibold ml-4"

      >GitHub</a
      >
      <a
        href="https://www.linkedin.com/in/zohaibaahmed/"
        target="_blank"
        class="text-black fw-200 p-1 hover:border-2 hover:border-gray-800 hover:rounded-lg font-semibold ml-4"

        >LinkedIn</a
      >
      <a
        href="mailto:zohaib.ahmed@slu.edu"
        class="text-black fw-200 p-1 hover:border-2 hover:border-gray-800 hover:rounded-lg font-semibold ml-4"

        >Contact Me</a
      >
    </div>
    <div class="sm:hidden flex items-center">
      <button
        type="button"
        class="inline-flex items-center justify-center p-2 text-black fw-200 hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        (click)="toggleMobileMenu()"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="block h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </button>
      <div
        [ngClass]="{ hidden: !isMobileMenuOpen }"
        class="fixed top-0 left-0 w-screen h-screen bg-white z-10"
      >
        <div
          class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-center items-center h-screen"
        >
          <a
            routerLink="/"
            class="text-black fw-200 hover:text-gray-400 hover:font-bold font-semibold mb-8"
            (click)="closeMobileMenu()"
            >Home</a
          >
          <a
            routerLink="/resume"
            class="text-black fw-200 hover:text-gray-400 hover:font-bold font-semibold mb-8"
            >Resume</a
          >
          <a
            routerLink="/projects"
            class="text-black fw-200 hover:text-gray-400 hover:font-bold font-semibold mb-8"
            >Projects</a
          >
          <a
            href="https://github.com/zohaib-a-ahmed"
            class="text-black fw-200 hover:text-gray-400 hover:font-bold font-semibold mb-8"
            >GitHub</a
          >
          <a
            href="https://www.linkedin.com/in/zohaibazherahmed/"
            class="text-black fw-200 hover:text-gray-400 hover:font-bold font-semibold mb-8"
            >LinkedIn</a
          >
          <a
            href="mailto:zohaib.ahmed@slu.edu"
            class="text-black fw-200 hover:text-gray-400 hover:font-bold font-semibold mb-8"
            >Contact Me</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
