<div class="mt-6 sm:mt-20 mb-10">
  <div class="text-center">
    <h1 class="sm:mb-4 text-4xl sm:text-4xl font-semibold">Featured Work</h1>
    <h2 class="text-xl">
      Check out all my projects
      <a routerLink="/projects" class="font-semibold">here</a>
    </h2>
  </div>
  <div
    class="parent"
    [class.stack]="isSmallScreen"
    [class.medium-screen]="isMediumScreen"
    [class.large-screen]="isLargeScreen"
  >
    <div class="child" *ngFor="let project of projects">
      <div class="gray-square" routerLink="/projects">
        <img [src]="project.image" alt="Project Image" class="img-resize" />
      </div>
      <div class="overlay">
        <h1>{{ project.title }}</h1>
        <h2>{{ project.subtitle }}</h2>
      </div>
    </div>
  </div>
</div>
