<div *ngIf="!isSmallScreen">
  <div class="mb-10">
    <div
      class="parent"
      [class.stack]="isSmallScreen"
      [class.medium-screen]="isMediumScreen"
      [class.large-screen]="isLargeScreen"
    >
      <div class="child" *ngFor="let project of projects">
        <div class="gray-square rounded-xl" routerLink="/projects">
          <img [src]="project.image" salt="Project Image" class="img-resize" />
        </div>
        <div class="overlay">
          <h1>{{ project.title }}</h1>
          <h2>{{ project.subtitle }}</h2>
        </div>
      </div>
    </div>
  </div>  
</div>
