.img-resize {
  width: 20em;
  height: auto;
}

.gray-square {
  position: relative;
  width: 40em;
  height: 35em;
  background-color: lightgray;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em;
  transition: filter 0.5s, background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gray-square:hover {
  filter: blur(4px);
}

.gray-square img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.overlay h1 {
  margin: 0;
  padding-top: 0.5em 0;
  font-size: xx-large;
}

.overlay h2 {
  margin: 0;
  font-size: large;
}

.child {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.child:hover .overlay {
  opacity: 1;
}

.parent {
  display: flex;
  justify-content: center;
  max-width: 7xl;
  margin: 0 auto;
  padding: 8px;
}

.stack {
  flex-direction: column;
}

.medium-screen .child {
  flex: 0 0 auto;
  width: 50%; 
}

.medium-screen .gray-square {
  width: 30em;
  height: 30em;
}

.large-screen .child {
  flex: 0 0 auto;
  width: 50%; 
}

.large-screen .gray-square {
  width: 50em;
  height: 40em;
}

@media (max-width: 767px) {
  .gray-square {
    width: 20em;
    height: 20em;
  }
}

