<div class="content">
  <nav class="bg-black border-b border-white">
    <div
      class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center h-16"
    >
      <div class="font-bold text-2xl text-white mr-6">ZA</div>
      <a
        routerLink="/"
        class="text-white hover:text-gray-400 hover:font-bold font-semibold ml-4"
        >Home</a
      >
    </div>
  </nav>
  <div
    class="project-row flex flex-wrap parent"
    *ngFor="let project of projects"
    [ngClass]="{ 'flip-row': project.flip }"
  >
    <div
      class="text-left w-full sm:w-2/3 child"
      style="min-height: 200px"
      *ngIf="!project.flip"
    >
      <div class="flex flex-col justify-center h-full p-4">
        <h2 class="text-2xl font-bold">{{ project.title }}</h2>
        <h3 class="text-lg font-semibold">{{ project.subtitle }}</h3>
        <p class="mt-2">{{ project.description }}</p>
        <div *ngIf="project.link">
          <p class="mt-6">
            Check out the repository
            <a class="font-bold" [href]="project.link" target="_blank">here</a>
          </p>
        </div>
      </div>
    </div>
    <div
      class="w-full sm:w-1/3 child gray-square"
      [ngClass]="{
        'gray-square-right-fade': project.flip,
        'gray-square-left-fade': !project.flip
      }"
      style="min-height: 200px"
    >
      <img
        [src]="project.image"
        alt="Project Image"
        class="w-full rounded-lg img-resize"
      />
    </div>
    <div
      class="text-left w-full sm:w-2/3 child"
      style="min-height: 200px"
      *ngIf="project.flip"
    >
      <div class="flex flex-col justify-center h-full p-4">
        <h2 class="text-2xl font-bold">{{ project.title }}</h2>
        <h3 class="text-lg font-semibold">{{ project.subtitle }}</h3>
        <p class="mt-2">{{ project.description }}</p>
        <div *ngIf="project.link">
          <p class="mt-3">
            Check out the repository <a [href]="project.link">here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
