  .img-resize {
    width: 20em;
    height: auto;
  }

  .mobile .img-resize {
    width: 10em;
    height: auto;
  }

  .parent {
    display: flex;
    max-width: 7xl;
  }
  
  .child {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .gray-square {
    position: relative;
    width: 30em;
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile .gray-square {
    margin-bottom: 1rem;
    width: 100%;
    height: 15em;
  }
  
  .horizontal-view .gray-square::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), white);
  }
  
  .gray-square::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  }

  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 1.5em;
  }  

  .mobile .gray-square::after {
    height: 20px;
  }
  
  .horizontal-view .gray-square-right-fade {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      white
    );
    background-size: 20px 100%;
    background-repeat: no-repeat;
    background-position: right top;
  }
  
  .horizontal-view .gray-square-left-fade {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    background-size: 30px 100%;
    background-repeat: no-repeat;
    background-position: left top;
  }
